[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
flask-admin = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlacodegen = "*"
pymysql = "*"
flask-migrate = "*"
python-dotenv = "*"
autopep8 = "*"
cryptography = "*"
requests = "*"
flask-babelex = "*"

[requires]
python_version = "3.7"
